@font-face {
    font-family: 'Regular';
	src: url('fonts/applefont.otf');
}
@font-face {
	font-family: 'Titles';
	src: url('fonts/GoogleSans-Medium.ttf');
}

body {
  background-color: #222;
  padding-top: 30px;
  font-family: 'Regular';
  text-align: center;
	font-size: 18px;
	color: white;
}

h1 {
	font-family: 'Titles';
	font-weight: 900;
}
h2 {
	font-family: 'Titles';
	width: 100%;
	background-color: #333;
}
a {
  color: #5f8aff;
}

.logo {
	display: flex;
	justify-content: center;
  }
  .logo img {
	border-radius: 20px;
	height: 80px;
	transform: translateX(-10px);
  cursor: pointer;
  }
  @media only screen and (max-width: 540px) {
	.logo img {
	  transform: translateX(5px); 
	}
  }

.centerbubble {
  display: flex;
  justify-content: center;
}
.speechbubble {
  font-size: 24px;
  overflow-wrap: break-word;
  border-radius: 10px;
  background-color: #111;
  padding: 5px;
  width: 80%;
  opacity: 0;
  height: 0;
}
.speechbubble.visible {
  opacity: 1;
  height: auto;
}

.gallery {
  width: relative;
  white-space: nowrap;
  overflow-x: auto;
}
.gallery img {
  display: inline-block;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
  filter:brightness(0%);
  transition: filter 0.3s;
}
.gallery img.loaded {
  filter: none;
}

#creditsp {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}
#creditsp iframe {
  width: 50%;
  height: 100%;
  margin: 0% auto;
  display: block;
  border:#333;
  border-style: solid;
  border-radius: 15px;
}
@media only screen and (max-width: 540px) {
	#creditsp iframe {
    width: 100%;
	}
  }

.but {
	padding: 0.7rem 2rem;
	text-decoration: none;
	font-family: "Titles";
	font-weight: 570;
	font-size: 18px;
	color: #5f8aff;
	border: solid;
	border-radius: 0.5rem;
}
.ton {
	margin: 10px;
	border-color: transparent;
	background-color: #333;
	color: #222;
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.ton:hover {
  transform: scale(1.15);
  color: #89bbff;
  border-color: #89bbff;
}
.ton:active
{
	transform: scale(0.95);
}

.coolbtn {
  color: #5f8aff;
  font-size: 16px;
  padding: 7px 18px;
  text-decoration: none;
  transition: 0.2s;
  border-radius: 50px;
  display: inline-flex;
  justify-content: center;
}
.coolbtn:hover {
  background-color: #5f8aff;
  color: #222;
}
.coolbtn span {
  font-size: 0px;
  transition: 0.3s;
}
.coolbtn:hover span {
  display: block;
  font-size: 11px;
  margin-left: 20px;
}
