@font-face {
	font-family: 'Regular';
	src: url('fonts/applefont.otf');
}
@font-face {
	font-family: 'Titles';
	src: url('fonts/GoogleSans-Medium.ttf');
}

body {
	background-color: #222;
	font-family: 'Regular';
	font-size: 18px;
	color: white;
	padding-top: 30px;
	text-align: center;
}
h1 {
	font-family: 'Titles';
	font-weight: 900;
}
h2 {
	font-family: 'Titles';
	width: 100%;
	background-color: #333;
}
h3 {
	font-family: 'Titles';
	font-weight: 200;
}

.logo {
	display: flex;
    justify-content: center;
}
.logo img {
	border-radius: 20px;
	height: 80px;
	transform: translateX(-10px);
}

.gallery {
	width: relative;
	white-space: nowrap;
	overflow-x: auto;
}
.gallery img {
	display: inline-block;
	height: 200px;
	border-radius: 10px;
	margin: 10px;
}

.credit {
	color: #5f8aff;
}
.credit:hover {
	animation: rainbow-background 2s ease infinite;
}
  @keyframes rainbow-background {
	0% {
	  color: red;
	}
	16.67% {
	  color: orange;
	}
	33.33% {
	  color: yellow;
	}
	50% {
	  color: green;
	}
	66.67% {
	  color: blue;
	}
	83.33% {
	  color: indigo;
	}
	100% {
	  color: violet;
	}
}

.coolbtn {
    color: #5f8aff;
    font-size: 16px;
    padding: 7px 18px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.coolbtn:hover {
    background-color: #5f8aff;
    color: #222;
}
.coolbtn span {
    font-size: 0px;
    transition: 0.3s;
}
.coolbtn:hover span {
    display: block;
    font-size: 11px;
    margin-left: 20px;
}
