@font-face {
	font-family: 'Regular';
	src: url('../fonts/applefont.otf');
}
@font-face {
	font-family: 'Titles';
	src: url('../fonts/GoogleSans-Medium.ttf');
}

body {
	background-color: #222;
	font-family: 'Regular';
	font-size: 18px;
	color: white;
	padding-top: 40px;
	border-style: solid;
	border-color: #111;
	border-width: 15px;
	border-radius: 15px;
}

h1 {
	font-family: 'Titles';
	font-weight: 900;
    text-align: center;
}

.gallery {
	width: relative;
    text-align: center;
  }
  
  .gallery img {
    pointer-events: auto;
	display: inline-block;
	height: 200px;
	border-radius: 10px;
	margin: 10px;
	transition: transform 0.2s;
}
.gallery img:hover {
	transform: scale(1.1);
}
.gallery img:active {
	transform: scale(0.95);
}
.but {
	display: inline-flex;
	padding: 0.7rem 2rem;
	font-family: "Titles";
	font-weight: 570;
	font-size: 18px;
	text-decoration: none;
	color: #5f8aff;
	border: solid transparent;
	border-radius: 0.5rem;
}
.ton {
	margin: 10px;
	position: relative;
	border-color: transparent;
	background-color: #333;
	color: #222;
	transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.ton:hover {
  transform: scale(1.15);
  color: #89bbff;
  border-color: #89bbff;
}
.l:hover {
color: #00ff00;
border-color: #00ff00;
}
.ton:active
{
	transform: scale(0.95);
}
