@font-face {
	font-family: 'Titles';
	src: url('../fonts/GoogleSans-Medium.ttf');
}
body {
	background-color: #222;
	color: white;
	padding-top: 40px;
	border-style: solid;
	border-color: #111;
	border-width: 15px;
	border-radius: 15px;
}
h1 {
	font-family: 'Titles';
	text-align:center;
	width:relative;
	margin: auto;
	background-color: #333;
	border-left-style: solid;
	border-right-style: solid;
	border-color: #ff0000;
	border-width: 20px;
	border-radius: 5px;
    text-align: center;
}
h2 {
	font-family: 'Titles';
	font-weight: 600;
    text-align: center;
	line-height: 0.4;
	font-size: 28px;
}
.circle {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 5px;
}
.green {
	background-color: rgb(0, 255, 0);
}
.red {
	background-color: red;
}
    .card {
	margin-bottom: 10px;
}

.but {
	display: inline-flex;
	padding: 0.7rem 2rem;
	font-family: "Titles";
	font-weight: 570;
	font-size: 18px;
	text-decoration: none;
	color: #5f8aff;
	border: solid transparent;
	border-radius: 0.5rem;
}
.ton {
    margin: 10px;
    position: relative;
    border-color: transparent;
    background-color: #333;
    color: #222;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.ton:hover {
    transform: scale(1.15);
    color: #89bbff;
    border-color: #89bbff;
}
.l:hover {
    color: #00ff00;
    border-color: #00ff00;
}
.l:active {
    color: #ff0000;
    border-color: #ff0000;
}
.ton:active
{
    transform: scale(0.95);
}
