@font-face {
	font-family: 'Titles';
	src: url('../fonts/GoogleSans-Medium.ttf');
}
body {
	background-color: #222;
	color: white;
	padding-top: 40px;
	border-style: solid;
	border-color: #111;
	border-width: 15px;
	border-radius: 15px;
}

h1 {
	font-family: 'Titles';
	text-align:center;
	width:relative;
	margin: auto;
	background-color: #333;
	border-left-style: solid;
	border-right-style: solid;
	border-width: 20px;
	border-radius: 5px;
    text-align: center;
}
h2 {
	font-family: 'Titles';
	font-weight: 600;
    text-align: center;
	line-height: 0.4;
	font-size: 28px;
}

.ihatethistoo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.wip {
  width: 80%;
  max-width: 100%;
  text-align: center;
  border-style: solid;
  border-radius: 50px;
  border-color: #F5FF8A;
  background-color: #111;
  margin: 0 auto;
}
.piw {
	display: inline-block;
	height: 20px;
}

.circle {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 5px;
}
.green {
	background-color: #78EB6B;
}
.red {
	background-color: #EF4E67;
}
    .card {
	margin-bottom: 10px;
}

.but {
	display: inline-flex;
	padding: 0.7rem 2rem;
	font-family: "Titles";
	font-weight: 570;
	font-size: 18px;
	text-decoration: none;
	color: #5f8aff;
	border: solid transparent;
	border-radius: 0.5rem;
}
.ton {
    margin: 10px;
    position: relative;
    border-color: transparent;
    background-color: #333;
    color: #222;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.ton:hover {
    transform: scale(1.15);
    color: #89bbff;
    border-color: #89bbff;
}
.l:hover {
    color: #98fb98;
    border-color: #98fb98;
}
.l:active {
    color: #ffc0cb;
    border-color: #ffc0cb;
}
.ton:active
{
    transform: scale(0.95);
}

.thelist {
	border-left-style: solid;
	border-right-style: solid;
	animation: rainbow-border 30s ease infinite;
  }
  @keyframes rainbow-border {
    0% {
        border-color: #ffb6c1;
    }
    16.67% {
        border-color: #ffdead;
    }
    33.33% {
        border-color: #fffacd;
    }
    50% {
        border-color: #98fb98;
    }
    66.67% {
        border-color: #add8e6;
    }
    83.33% {
        border-color: #e6e6fa;
    }
    100% {
        border-color: #ffc0cb;
    }
}
