@font-face {
  font-family: 'Regular';
src: url('../fonts/applefont.otf');
}
@font-face {
font-family: 'Titles';
src: url('../fonts/GoogleSans-Medium.ttf');
}

body {
    background-color: #222;
    padding-bottom: 50px;
    font-family: 'Regular';
    text-align: center;
      font-size: 18px;
      color: white;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .credits-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 10px;
  }
  .credits-item {
    padding: 10px;
    background-color: transparent;
    text-align: center;
  }

  .burgerycrafty {
    background-image: linear-gradient(to right, transparent 50%, #ffff64 100%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease-out;
  }
  .burgerycrafty:hover {
    color: black;
    background-position: -100%;
  }

  .xiliam {
    background-image: linear-gradient(to left, transparent 50%, #7de3a4 100%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease-out;
    background-position: -100%;
  }
.xiliam:hover {
  color: black;
  background-position: 0%;
}

  .enxorbyte {
    background-image: linear-gradient(to right, transparent 50%, #ff2bde 75%, #53fff3 100%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease-out;
  }
  .enxorbyte:hover {
    color: black;
    background-position: -100%;
  }

  .mefinity {
    background-image: linear-gradient(to right, transparent 50%, #f506f5 75%, #aa33ff 100%);
    background-size: 200% 100%;
    transition: background-position 0.5s ease-out;
  }
  .mefinity:hover {
    color: black;
    background-position: -100%;
  }
