@font-face {
	font-family: 'Regular';
	src: url('../fonts/applefont.otf');
}
@font-face {
	font-family: 'Titles';
	src: url('../fonts/GoogleSans-Medium.ttf');
}

body {
	background-color: #222;
	font-family: 'Regular';
	font-size: 18px;
	color: white;
	padding-top: 30px;
}

h1 {
	font-family: 'Titles';
	font-weight: 900;
    text-align: center;
}
h2 {
	font-family: 'Titles';
	width: 100%;
	background-color: #333;
    text-align: center;
}
h3 {
	font-family: 'Titles';
	font-weight: 200;
    font-size: 30px;
    text-align: center;
}
h4 {
    font-family: 'Titles';
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin-top: -1%;
    text-decoration: underline;
}
a {
    color: white;
    text-decoration: none;
}

.c {
    text-decoration: none;
    transition: 0.5s;
    border-radius: 20px;
}

.c:hover {
    background-color: #444;
}
.c:before {
    content: "Credits";
}
  .c:hover:before {
    content: "Back";
}

.t {
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.t:hover {
    text-decoration: underline white;
    transform: scale(1.1);
}
.t:active {
    color: white;
    transform: scale(0.9);
}

.b {
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.b:hover {
    text-decoration: underline #ffff64;
    transform: scale(1.1);
}
.b:active {
    color: #ffff64;
    transform: scale(0.9);
}
.m {
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.m:hover {
    text-decoration: underline #aa33ff;
    transform: scale(1.1);
}
.m:active {
    color: #aa33ff;
    transform: scale(0.9);
}
.x {
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.x:hover {
    text-decoration: underline #7de3a4;
    transform: scale(1.1);
}
.x:active {
    color: #7de3a4;
    transform: scale(0.9);
}

.meow {
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
.meow:hover {
    transform: scale(1.1);
	animation: rainbow-background 2s ease infinite;
  }
  
  @keyframes rainbow-background {
	0% {
	  color: red;
	}
	16.67% {
	  color: orange;
	}
	33.33% {
	  color: yellow;
	}
	50% {
	  color: green;
	}
	66.67% {
	  color: blue;
	}
	83.33% {
	  color: indigo;
	}
	100% {
	  color: violet;
	}
  }
  .meow:active {
    transform: scale(0.9);
}
